.ant-pagination .ant-pagination-next button {
  color: #fff;
}
.ant-pagination .ant-pagination-prev button {
  color: #fff;
}
.ant-pagination .ant-pagination-item {
  background-color: #2b2b36;
}
.ant-pagination .ant-pagination-item-active {
  border-radius: 50px;
}
.ant-pagination .ant-pagination-item a {
  color: #fff;
}
