:root {
  --color-text-placeholder: #d2d2d2;
  --color-wihite: #fff;
  --color-hover-icon: #ff0000;
  --color-bg-input: #374151;
  --color-hover-button: #0d9488;
}
.ant-input::placeholder {
  // padding-top: 30px;
  margin: 16px 14px;
  font-size: 17px;
  opacity: 0.5;
  font-family: inherit;
  font-weight: 300;
  color: var(--color-text-placeholder);
}
.ant-input-affix-wrapper {
  .ant-input-clear-icon {
    color: var(--color-wihite);
  }
  .ant-input-clear-icon:hover {
    color: var(--color-hover-icon);
  }
  .anticon.ant-input-password-icon {
    color: var(--color-wihites);
  }
}
.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
  background-color: var(--color-bg-input);
}
.ant-input-outlined.ant-input-status-error:not(.ant-input-disabled):hover {
  background-color: var(--color-bg-input);
}
.ant-input-outlined.ant-input-status-error:not(
    .ant-input-disabled
  ):focus-within {
  background-color: var(--color-bg-input);
}
.ant-btn-variant-solid:hover {
  background-color: var(--color-hover-button) !important;
  border-color: var(--color-hover-button) !important;
}
:where(.css-dev-only-do-not-override-5wsri9)
  .ant-select-outlined:not(.ant-select-customize-input)
  .ant-select-selector {
  border: none !important;

  background: var(--color-bg-input) !important;
}
.ant-select-show-arrow .ant-select-selection-placeholder {
  color: #fff;
  padding: 10px;
}
// ant-select-selection-placeholder
