.ant-input-outlined:hover {
  border-color: none;
  background-color: none;
}
.ant-input-outlined:focus {
  border-color: none;
  background-color: none;
}
.ant-input::placeholder {
  color: #fff;
  opacity: 0.5;
}
