:root {
  --color-text-placeholder: "#D2D2D2";
}
.ant-input::placeholder {
  // padding-top: 30px;
  margin: 16px 14px;
  font-size: 17px;
  opacity: 0.5;
  font-family: inherit;
  font-weight: 300;
  color: var(--color-text-placeholder);
}
