:root {
  --Gray_menu: #171821;
  --color_Light_Teal: #a9dfd8;
  --color_Light_Teal_hover: #23d7bf9d;
  --color_hover_black: #21222d;
  --color_boder_menu: #87888c;
}
.ant-menu-item {
  padding-left: 0px !important;
  padding-right: 20px !important;
}
.ant-menu-item {
  height: 44px;
  line-height: 60px;
  color: var(--color_boder_menu);
  border-width: 4px;
  border-color: var(--color_Light_Teal);
  border-width: 2px;
  .ant-menu-item-icon {
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
  }
}
.ant-menu-inline .ant-menu-item {
  height: 44px;
  width: 100%;
  margin-inline: 0px;
  margin-block: 0px;
}
.ant-menu-dark {
  background-color: var(--Gray_menu);

  .ant-menu-inline {
    background-color: var(--Gray_menu);
  }
}

.ant-menu-dark.ant-menu-inline .ant-menu-item-selected:hover {
  border-right-width: 2px;
}

.open-menu {
  .ant-menu-dark.ant-menu-inline .ant-menu-item {
    color: var(--color_boder_menu);
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-item:hover {
    background-color: var(--color_hover_black);
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-item-selected:hover {
    background-color: var(--color_Light_Teal_hover);
    // border-color: var(--color_Light_Teal_hover);
    border-right-width: 0px;
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-item-selected {
    background-color: var(--color_Light_Teal);
    color: var(--Gray_menu);
    border-radius: 6px;
    max-width: 100%;
    border-right-width: 0px;
  }
}
.ant-menu .ant-menu-item .ant-menu-item-icon + span {
  margin-inline-start: 0px;
}
.close-menu {
  .ant-menu-item-icon:hover {
    background-color: var(--color_hover_black);
    padding-right: 16px;
    border-radius: 8px;
  }
  .ant-menu-item-selected {
    color: var(--color_Light_Teal);
    background-color: var(--Gray_menu);
    border-right-style: solid;
    border-color: var(--color_Light_Teal);
    border-radius: 0px;
    height: 40px;
    border-right-width: 3px;
    position: absolute;
  }
  .ant-menu-dark:not(.ant-menu-horizontal)
    .ant-menu-item:not(.ant-menu-item-selected):hover {
    background-color: var(--Gray_menu);
  }
  @media (min-width: 768px) {
    .ant-menu-title-content {
      display: none;
    }
  }
}
