.ant-dropdown .ant-dropdown-menu {
  background-color: #001529;
  margin-top: 15px;
  margin-right: 10px;
  color: #fff;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  color: #fff;
}
