:root {
  --color_bg_dropdown: #21222d;
  --color_white: rgb(135, 136, 140);
}
.ant-dropdown {
  .ant-dropdown-menu {
    background-color: var(--color_bg_dropdown);
    margin-top: 15px;
    margin-right: 10px;
    color: var(--color_white);
    .ant-dropdown-menu-item {
      color: var(--color_white);
    }
  }
}
