.ant-menu-inline .ant-menu-item {
  height: 70px;
  line-height: 70px;
  list-style-position: inside;
  list-style-type: disc;
}
/* .ant-menu-dark {
  background-color: #171821;
} */
.ant-dropdown .ant-dropdown-menu {
  background-color: #001529;
  margin-top: 15px;
  color: #fff;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  color: #fff;
}

.ant-input-outlined:hover {
  border-color: none;
  background-color: none;
}
.ant-input-outlined:focus {
  border-color: none;
  background-color: none;
}
.ant-input::placeholder {
  color: #fff;
  opacity: 0.5;
}
.ant-card-bordered {
  border: none;
}
