@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

:root {
  --color-scrollbar-track: rgb(33, 34, 45) rgb(23, 24, 33);
  --color-scrollbar-thumb: rgb(43, 43, 54);
  --color-scrollbar-thumb-hover: "#121212";
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-scrollbar-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-scrollbar-thumb-hover);
}
@layer divhome {
  .wrapper-box-style-mobile {
    @apply bg-dark-slate-gray rounded-xl col-span-12;
  }
  .repository-box-grid-1-2-4 {
    @apply grid-cols-1 xl:grid-cols-4 md:grid-cols-2;
  }
  .input-custom {
    @apply w-full px-3 py-3 border border-gray-700 bg-gray-700 text-white rounded-md;
  }
}
