.ant-notification {
  .ant-notification-notice-wrapper {
    background-color: #21222d;
    .ant-notification-notice-message {
      color: #fff;
    }
    .ant-notification-notice-description {
      color: #fff;
    }
    .ant-notification-notice-close {
      color: #fff;
    }
  }
}
